.credentials {
  border: 1px solid black;
  padding: 2rem;
  width: 30%;
  background-color: #dbd0c0;
}

.credentials__form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.credentials__form input {
  margin: 1rem 0;
  height: 5rem;
  outline: none;
  padding: 0 1rem;
  font-size: 1.8rem;
}

.credentials__form button {
  margin: 1rem 0;
  height: 5rem;
  outline: none;
  padding: 0 1rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.credentials__current-state {
  border: 1px solid black;
}

.credentials__current-state h3 {
  margin: 1rem 0;
}

.credentials__current-state p {
  margin: 1rem 0;
}
